{% extends "base_plugin.html" %}
{% set logo_frame = false %}
{% set update_interval = 2000 %}

{% block pluginstyles %}
<style>
  table th.value {
    width: 100px;
  }
  #maintable {
     display: none;
  }
</style>
{% endblock pluginstyles %}

{% block pluginscripts %}
<script>
	$(document).ready( function () {
		$(window).trigger('datatables_defaults');
		try {
      webif_pagelength = document.getElementById('webif_pagelength').innerHTML;
			table = $('#maintable').DataTable( { "pageLength": webif_pagelength } );
			}
		catch (e) {
			console.log("Datatable JS not loaded, showing standard table without reorder option " + e)
			}
		});
</script>

<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			
            for (var item in objResponse) {
				shngInsertText (item+'_value', objResponse[item]['value'], 'maintable');
				shngInsertText (item+'_last_update', objResponse[item]['last_update'], 'maintable');
				shngInsertText (item+'_last_change', objResponse[item]['last_change'], 'maintable');
			}
		}
	}
</script>
<!--
	This part is used to implement datatable JS for the tables. It allows resorting tables by column, etc.
	For each table you have to implement the code part $('#<table_id>').DataTable(..); where the <table_id> matches the id of a table tag
-->

{% endblock pluginscripts %}


{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>Sonos HTTP API Host</strong></td>
			<td class="py-1">{{ p._sonos_http_api_host }}</td>
			<td class="py-1" width="50px"></td>
			<td class="py-1"><strong>Sonos HTTP API Port</strong></td>
			<td class="py-1">{{ p._sonos_http_api_port }}</td>
			<td class="py-1" width="50px"></td>
		</tr>
		<tr>
			<td class="py-1"><strong>Zones</strong></td>
			<td class="py-1">{{ len(p.sonos) }}</td>
			<td></td>
			<td class="py-1"><strong>-</strong></td>
			<td class="py-1">-</td>
			<td></td>
		</tr>
		<tr>
			<td class="py-1"><strong>-</strong></td>
			<td class="py-1">-</td>
			<td></td>
            <td class="py-1"><strong>{{_('Sonos HTTP API')}}</strong></td>
            <td class="py-1"><a class="text-shng" href="http://{{ p._sonos_http_api_host }}:{{ p._sonos_http_api_port }}" target="_blank">{{ 'GUI/DOCU' }}</a></td>
            <td class="py-1"></td>
            
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
    <div>
        <button type="button" class="btn btn-shng btn-sm" onclick="if (confirm('{{ _('Update des Sonos-Systems?') }}')) { jQuery.get('get_zones'); }">{{_('Update Zones')}}</button>
		<!--
		<button type="button" class="btn btn-shng btn-sm" onclick="if (confirm('{{ _('Update Playlists?') }}')) { jQuery.get('get_playlists'); }">{{_('Update Playlists')}}</button>
		<button type="button" class="btn btn-shng btn-sm" onclick="if (confirm('{{ _('Update Favourites?') }}')) { jQuery.get('get_favourites'); }">{{_('Update Favourites')}}</button>
		-->
	</div>
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 6)
-->
{% set tabcount = 2 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if p._item_dict %}
	{% set start_tab = 1 %}
{% endif %}


{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong> " %}
{% block bodytab1 %}
<div class="table-responsive" style="margin-left: 3px; margin-right: 3px;" class="row">
    <div class="mb-2">
        <span id='webif_pagelength' style="display:none">{{ webif_pagelength }}</span>
    </div>
    <div class="col-sm-12">
		<table id="maintable" class="table table-striped table-hover pluginList">
			<thead>
				<tr>
					<th>{{_('Item')}}</th>
					<th>{{_('Typ')}}</th>
					<th>{{_('Zone')}}</th>
					<th>{{_('Attribute')}}</th>
					<th>{{_('Wert')}}</th>
					<th>{{_('Letztes Update')}}</th>
					<th>{{_('Letzter Change')}}</th>
				</tr>
			</thead>
			<tbody>
				{% for item in p._item_dict %}
                    {% set item_id = item.id() %}
					<tr>
						<td class="py-1">{{ item._path }}</td>
						<td class="py-1">{{ item._type }}</td>
						<td class="py-1">{{ p._item_dict[item][0] }}</td>
						<td class="py-1">{{ p._item_dict[item][1] }}</td>
						<td class="py-1" id="{{ item_id }}_value">{{ item._value }}</td>
						<td class="py-1" id="{{ item_id }}_last_update">{{ item.property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
						<td class="py-1" id="{{ item_id }}_last_change">{{ item.property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}{{_('.')}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock bodytab1 %}


{% set tab2title = "<strong>" ~ p.get_shortname() ~ " Maintenance</strong>" %}
{% block bodytab2 %}
<div class="table-responsive" style="margin-left: 3px; margin-right: 3px;" class="row">
    <div class="col-sm-12">
		<table id="" class="table table-striped table-hover pluginList">
		<caption>PLUGIN DATA CONTENT</caption>
			<thead>
				<tr>
				  <th>{{ _('Name') }}</th>
				  <th>{{ _('Content') }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="py-1">{{ _('_item_dict') }}</td>
					<td class="py-1">{{ p._item_dict}}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('sonos_zone_uuid') }}</td>
					<td class="py-1">{{ p.sonos_zone_uuid}}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('sonos_topology') }}</td>
					<td class="py-1">{{ p.sonos_topology}}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('sonos_topology_zone') }}</td>
					<td class="py-1">{{ p.topology}}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('sonos_favorites') }}</td>
					<td class="py-1">{{ p.favourites}}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('sonos_playlists') }}</td>
					<td class="py-1">{{ p.playlists}}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('zone_list') }}</td>
					<td class="py-1">{{ p.zone_list}}</td>
				</tr>
				<tr>
					<td class="py-1">{{ _('uuid_list') }}</td>
					<td class="py-1">{{ p.uuid_list}}</td>
				</tr>
			</tbody>
		</table>

		<table id="1" class="table table-striped table-hover pluginList">
			<caption>SONOS STATE DATA</caption>
			<thead>
				<tr>
					<th width=400px>{{ _('Key') }}</th>
					<th width=150px>{{ _('Value') }}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for entry in p.sonos %}
					<tr>
						<td class="py-1">{{ entry }}</td>
						<td class="py-1">{{ p.sonos[entry] }}</td>
						<td></td>
					</tr>
				{% endfor %}
				<tr>
					<td class="py-1">{{ _('Key') }}</td>
					<td class="py-1">{{ p.sonos }}</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock bodytab2 %}


<!--
	Content block for the third tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{% set tab3title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" %}

	It has to be defined before (and outside) the block bodytab3
-->
{% block bodytab3 %}
{% endblock bodytab3 %}


<!--
	Content block for the fourth tab of the Webinterface
	If wanted, a title for the tab can be defined as:
		{% set tab4title = "<strong>" ~ p.get_shortname() ~ " Geräte</strong>" %}

	It has to be defined before (and outside) the block bodytab4
-->
{% block bodytab4 %}
{% endblock bodytab4 %}